.bg {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(176, 229, 208, 1) 42%,
    rgba(92, 202, 238, 0.41) 93.6%
  );
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.flex-center h1 {
  font-size: x-large;
}

@media (max-width: 425px) {
  .flex-center h1 {
    font-size: large;
  }
}
